@model ServiceCo.Models.ServiceModel

@{
    ViewBag.Title = "Search Service";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>SearchService</h2>

@*<label>First Name: </label>
    <h4>@Model.FirstName</h4>
    <label>Last Name: </label>
    <h4>@Model.LastName</h4>
    <label>Email:: </label>
    <h4>@Model.Email</h4>
    <label>Contact: </label>
    <h4>@Model.Contact</h4>
<label>Electrical: </label>
<h4>@Model.Electrical</h4>
<label>Sanitary: </label>
<h4>@Model.Sanitary</h4>
<label>Mechanical: </label>
<h4>@Model.Mechanical</h4>
<label>House Cleansing: </label>
<h4>@Model.HouseCleansing</h4>
<label>Security: </label>
<h4>@Model.Security</h4>
<label>Service: </label>
<h4>@Model.ChooseService</h4>*@